.form-box{
    position:absolute;
    top: 1.5rem;
    right: 13%; 
    margin: auto;
    width: 60%;
    /* min-width: fit-content; */
    height: 80vh;
    min-height: fit-content !important;
}

#the-form{
    position: relative;
    left: 1rem;
}
.form{
    border: .5px silver solid;
    margin: 2rem;
    height: 85%;
    min-height: fit-content !important;
    border-radius: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: whitesmoke;
    padding-bottom: 1rem;
}

.input{
    border: 2px solid black;
    width: 60%;
    display: flex;
    margin: auto;
    height: 1.4rem;
    border-radius: 4px;
    background-color: #ccc;
}
@media (max-width:700px){
    .input{
        width: 50%;
        height:.5rem;
        padding: .5rem;
        font-size: .59rem;
    }
}
.input:hover{
    background-color: whitesmoke;
}
.ex-nav{
    position: relative;
    top: 0rem;
    left: 0rem;
    max-width: fit-content ;
    height: 7.5rem;
    background-color: whitesmoke;
    z-index: 0;
    padding: 1rem;
}
#icon{
    box-shadow: turquoise 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, yellow 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px;
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
    cursor: none;
}
#name{
    background: linear-gradient(90deg, #00dbde, grey);
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: none;
    font-family: initial;
}
.btns{
    margin-top: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    font-family: sans-serif;

}
.btns:hover{
    background: linear-gradient( turquoise,silver);
    min-height: 5rem;
    margin-top: 1rem;
    padding: 4.5rem 1rem 0 1rem;
    color: crimson;
    text-transform: uppercase;
    cursor: pointer;
}
#extend-nav{
    position: absolute;
    top: 8.5rem;
    left: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 11rem;
    border-top: 2px turquoise solid;
}
.post{
    padding: .8rem;
    text-align: left;
    width: 80%;
    height: 20%;
    font-size: .9rem;
}

.r-subT{
    text-align: right;
    margin: 1rem 2.5rem 0 0;
    color: crimson;
    text-decoration: underline;
}
.buff{
    width: 50%;
    height: 20%;
    margin-top: 25%;
    padding: 3rem 1rem 0 1rem;
    font-weight: bold;
    text-decoration: underline;
    word-spacing: 3px;
    line-height: 1.5rem;
}